@import "tables.css";

/* Changes all styles
*       {
    font-size: 10pt;
    background-color: dark;
}
*/

:root   {
    --picHeight: 150px;
}

h1  {
    white-space: pre;
}

code    {
    white-space: pre-line;
}

#MText  {
            font-size: 24pt;
            font-style: italic;
            font-weight: 500;
            font-family: "monospace", sans-serif;
            background-color: lightblue;
            
            /* padding: 50px;  */
}


#imgContainer   {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 5px solid black;
    width: 700px;
    height: 700px;

}

#topLeftPic    {
    position: absolute;
    top: 0;
    left: 0;
}


#bottomRightPic   {
    position: relative;
    float: right;
    top: calc(100% - var(--picHeight));
}

img[src="icon.ico"]    {
    width: 100px;
    height: var(--picHeight);
}

pre ~ li    {
    background-color: red;
}
