<template>
	<div class="container">
		<TodoList v-bind="todos" />
	</div>
</template>

<script lang="ts">
import TodoList from "./TodoList/TodoList.vue";
export default {
	name: "TodoList", //This is important for dev-tools and debugging
	components: { //Needed so template can parse this tag / vNode
		TodoList,
	},

	data() {
		return {
			todos: [
				{
					id: 1,
					title: "Take out trash",
					completed: false,
				},
				{
					id: 2,
					title: "Put baby to sleep",
					completed: false,
				},
				{
					id: 3,
					title: "Feed Pet",
					completed: false,
				},
			],
		};
	},
};
</script>
