<template>
	<div id="app">
		<h1>{{ message }}{{ other.message }}</h1>
	</div>
</template>


<script lang="ts">
// To see how components are actually created / what they are transpiled into...
// ... go to https://vuejs.org/v2/guide/components.html
export default {
	data() {
		return {
			message: "Hello World",
			other: {
				message: "\nHappy Gregmas",
			},
		};
	},
};
</script>


<style lang="scss" scoped>
// ^^ "scoped" limits css to this component scope
#app {
	font-family: sans-serif;
	color: blue;

	h1 {
		color: red;
		white-space: pre;
	}
}
</style>
