.TodoItem {
    background-color: #444;
    border: 1px solid #ccc;
    font-size: 2rem;
    white-space: pre;
    padding: 20px;

    button {
        background-color: red;
        width: 20px;
        height: 20px;
        border-radius: 20%;
        border: none;
        font-size: 30%;
    }
}

.TodoItemComplete {
    @extend .TodoItem;
    color: rgb(167, 216, 167);
}

.TodoItemIncomplete {
    @extend .TodoItem;
    color: rgb(228, 156, 156);
}