#flex-container1 {
	display: flex;
	width: 100%;
	/* Sets direction of the flexbox. Row means items are horizontally 
	stacked while column means a vertical stack... */
	flex-direction: row;
	/* Only affects the flexbox when the flexbox  */
	flex-wrap: wrap;
	
	/* Short-hand for <flex-direction> <flex-wrap> */
	flex-flow: row wrap;

	height: 100px;
	margin-bottom: 100px;

}

#flex-container1 > div {
	background-color: rgb(231, 231, 231);
	/* flex: has 3 properties flex: <flex-grow> <flex-shrink> <flex-basis> */
	/* Flex basis is the minimum width (or height for column flexbox) for an item. auto means no min */
	flex: 1 0 250px;
	
}

#flex-container1 > div:nth-child(odd) {
	background-color: rgb(214, 214, 214);
}

#flex-container1 .div1 {
	/* Doesnt grow or shrink. Stays with width: 100px at all times */
	flex: 0 0 100px;
	background: rgb(117, 117, 117);
}

#flex-container1 .div2 {
	/* Grows double the width of the others */
	flex: 2 0 auto;
	background: rgb(255, 211, 211);
}







#flex-container2 {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 300px;
	background-color: rgb(82, 82, 82);
	box-sizing:  border-box;

	/* Aligns to center on horizontal axis */
	justify-content: center;
	/* Other options include space-evenly (same space inbetween), space-around (same margin-left and right) and space between (same space in between, ignore edges) */
	/* And of course flex-start(left) or flex-end(right) */
	justify-content: space-evenly;

	/* Aligns to center on vertical axis */
	/* Other options also include flex-start, flex-end, baseline (content inside the items aligned), and stretch */
	align-items: baseline;


	/* There is also justify-items and align-content. There are rarely used however. 
	Just remember content works on entire box border alignment, and items on each indidual items alignment. Align content needs wrap or > 1 row */
	/* So items works on one row / column, and content works on > 1 row / column */
}

#flex-container2 > div {
	background-color: rgb(205, 255, 251);
	flex: 0 1 100px;
	height: 100px;
	box-sizing: border-box;
}

#flex-container2 > div:nth-child(even) {
	background-color: rgb(150, 241, 207);
}

#flex-container2 .div4 {
	padding-top: 50px;
}




/* My own little test to see if I can use flexbox effectively */

.flexOne {
	margin-top: 400px;
	display: flex;
	height: 600px;
}

.flexOne .div1 {
	flex: 1 0 200px;
	background-color: rgb(143, 143, 143);
}

.flexOne .inner-flex {
	flex: 2 0 300px;
	margin-left: 20px;
}

.inner-flex {
	display: flex;
	flex-flow: column nowrap;
}

.inner-flex > div {
	/* Flex can be used to just set flex-grow if you want */
	flex: 1; 
}

.inner-flex .div3 {
	background-color: rgb(194, 194, 194);
}

.inner-flex .div4 {
	margin-top: 20px;
	background-color:rgb(182, 182, 182);
}


.flexTwo {
	margin-top: 20px;
	display: flex;
	height: 150px;
}

.flexTwo > div {
	flex: 1 0 auto;
	margin-left: 20px;
	background-color: rgb(37, 37, 37);
}
.flexTwo > div:nth-child(odd) {
	background-color: rgb(54, 54, 54);
}

.flexTwo > div:first-child {
	margin-left: 0;
}