<template>
	<div>
		<div v-for="todo in todos">
			<!-- Passed color as static prop, and -->
			<todo-item color="#ffffff" />
		</div>
	</div>
</template>

<script lang="ts">
import TodoItem from "./TodoItem.vue";

export default {
	name: "TodoList",
	components: {
		TodoItem,
	},
	props: ["todos"],
};
</script>

