<template>
	<div id="container" style="color: {{color}}">
		<h3>{{ props.id }}: {{ props.title }}</h3>
	</div>
</template>

<script>
export default {
	name: "TodoItem",
};
</script>


<style lang="scss" scoped>
#container {
	background-color: #333;

	h3 {
		font-family: sans-serif;
	}
}
</style>
